<!DOCTYPE html>
<html>
<head>
  <title>Wxpay</title>
  <%= stylesheet_link_tag    "wxpay/application", media: "all" %>
  <%= javascript_include_tag "wxpay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
